@model AddGuestFormModel
@{
    ViewBag.Title = "Add a guest";
}

@section Styles {
    <link href="~/css/date-picker.css" rel="stylesheet" asp-append-version="true" />

}

@section Background{
    <style type="text/css">
        body {
            background-image: url('https://conference.rentmanager.com/wp-content/uploads/2019/02/AdobeStock_218238501.jpeg');
            margin: 0;
            background-size: cover;
            background-repeat: repeat;
        }
    </style>
}

<h3 class="text-center">@ViewBag.Title</h3>

@*<section>
    <div class="container-fluid ">
        <div class="row justify-content-center mx-0">
            <div class="col-lg-6">
                <div class="card">
                    <form autocomplete="off">
                        <div class="card-header">
                            <div class=" row justify-content-sm-center justify-content-center">
                                <input type="text" id="dp1" class="datepicker" placeholder="Дата на настаняване" style="font-family:Arial, FontAwesome" name="date" readonly />
                            </div>

                        </div>
                        <div class="card-header">
                            <div class=" row justify-content-sm-center justify-content-center">
                                <input type="text" id="dp1" class="datepicker" placeholder="Дата на напускане" style="font-family:Arial, FontAwesome" name="date" readonly />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6">
                <form method="post" enctype="multipart/form-data">
                    <input asp-for="@Model.RoomId" value="@Model.RoomId" class="form-control" hidden>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Start</label>
                        <div class="col-sm-10">
                            <div id="selectedDate" asp-for="@Model.Settle" class="form-control" hidden></div>
                            <input asp-for="@Model.Settle" value="" class="form-control" required readonly />
                            <span asp-validation-for="Settle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">End</label>
                        <div class="col-sm-10">
                            <div id="selectedDate" asp-for="@Model.Leave" class="form-control" hidden></div>
                            <input asp-for="@Model.Leave" value="" class="form-control" required readonly />
                            <span asp-validation-for="Leave" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-sm-10">
                            <button type="submit"
                                    asp-controller="Room" asp-action="AddGuest" asp-route-roomId="@Model.RoomId">
                                Add guests to room
                            </button>
                        </div>
                    </div>
                </form>
                <div>
                    <a asp-area="" asp-controller="Room" asp-action="SingleRoom" asp-route-roomId="@Model.RoomId">
                        <span>Cancel</span>
                    </a>
                </div>
                <div asp-validation-summary="All" data-valmsg-summary="true"></div>
            </div>
        </div>
    </div>
</section>*@

@*<div class="container">
        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker6').datetimepicker();
                $('#datetimepicker7').datetimepicker({
                    useCurrent: true //Important! See issue #1075
                });
                $("#datetimepicker6").on("dp.change", function (e) {
                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker7").on("dp.change", function (e) {
                    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                });
            });
        </script>
    }*@

<ejs-schedule id="schedule"></ejs-schedule>

@*@section Scripts {
    <script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/js/date-picker.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        })
    </script>
}*@